@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Modern Appliction Development - version 3</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Building Modern Web Application Development at RSTForum</a>.</p>
</div>
